<!-- This contact.html file is inside the templates folder because 
    thats how the Flask app can read in the file -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello Flask</title>
    </head>
    <body>
        
        <nav>
            <ul>
                <!-- This is how you link using Flask app, this is linked with the @app.route in run.py -->
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
        
        <h1>Contact Page</h1>
    </body>
    </html>